
<div id="sidebar" class="col-md-2">
  <div id="sidebar-wrapper" >
    <div id="current-user-space">
      <div id="current-user">
        <div class="user-name">
          <h4><%= @current_user.full_name %></h4>
        </div>
        <div class="user-edit"><%= link_to 'Edit', edit_user_path(@current_user) %></div>
        <div class="user-signout"><%= link_to 'Signout', signout_path %></div>
      </div>
    </div>
    <hr>
    <div id="sidebar-menu">
      <% if current_page?(user_path(@current_user)) %>
        <ul class="sidebar-menu-items nav nav-pills nav-stacked">
          <li class="activities active"><a data-toggle='pill'>Activities</a></li>
          <li class="events"><a data-toggle='pill'>Events</a></li>
          <li class="invites"><a data-toggle='pill'>Invites</a></li>
        </ul>
      <% else %>
        <ul class="sidebar-menu-items nav nav-pills nav-stacked">
          <li id="back-tab" class="back"><%= link_to 'Home', user_path(@current_user) %>
        </ul>
      <% end %>
    </div>
  </div>
</div>