// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#footer-wrapper {
  min-height: 100%;
  position: relative;
}
#header {
  padding: 10px;
  height: 45px;
  width: 100%;
  background-color: rgb(44,62,80);
  line-height: 25px;
}

#body {
  padding: 10px;
  padding-bottom: 40px;   /* Height of the footer */
}

.navbar-fixed-bottom {
  height: 20px;   /* Height of the footer */
  padding-left: 80px;
  font-size: 9pt;
}

#header a {
  color: white;
  text-decoration: bold;
  margin-left: 20pt;
  font-size: 13pt;
}

#header a:hover {
  text-transform: none;
  text-decoration: none;
}

#sidebar {
  border-right: 2px solid slategrey;
}

#sign-in-form {
  padding: 0, 20pt;
}
#sign-in-form h3 {
  text-align: center;
}

#welcome-title {
  padding-bottom: 20pt;
  padding-top: 20pt;
  text-align: center;
}




