// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.activity-box {

}
h1 {
  text-align: center;
}

.activity-event-date {
  float: right;
}

.new-activity-event {
  display: block;
  margin: 0 auto;
}

.new-activity-event a {
  color: white;
}